body {
    font-family: arial, tahoma, verdana, serif;
    font-size: 12pt;
    line-height: 1.5em; 
    background-color: lightgrey;
}

h1 {
    font-size: 250%;
    text-align: center; 
}

h1, h2 {
    text-align: cener;
}

.pochylony {
    font-style: italic; 
}

.pogrubiony {
    font-weight: bold;
}

li{
    font: normal 20px/30px Gabriola, serif; 
}

.tekst1 {
    color: #FF5F00;
}

.tekst2 {
    color: #50FF00;
}
